header {
    background-color: #1a1a1a;
    color: #7bff00fb;
    padding: 1px;
    border-radius: 10px;
}


body {
    background-color: #000000;
    color: #8ef847;
    font-family: 'Roboto', sans-serif;
}


.about-section{
    background-color: #1a1a1a;
    padding: 5px;
    border-radius:10px;
    margin-bottom: 10px;
}


.profile-image {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}


.skills-section ul li{
    background-color: #1a1a1a;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}


.experience-section ul li{
    background-color: #1a1a1a;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}


.desired-profession-section {
    background-color: #1a1a1a;
    padding: 5px;
    border-radius:10px;
    margin-bottom: 10px;
}


.projects-section {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius:10px;
    margin-top: 10px;
}


.contact-section ul li {
    background-color: #1a1a1a;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}


h1 {
    font-size: 40px;
}


h3 {
    font-weight: bold;
}


p {
   line-height: 1.3;
}


a {
    color: #7bff00fb;
 }


 .skills-section ul li,
 .experience-section ul li,
 .contact-section ul li {
     transition: background-color 0.3s ease, color 0.3s ease;
 }
 
 .skills-section ul li:hover,
 .contact-section ul li:hover {
     background-color: #7bff00fb;
     color: #1a1a1a;
 }
