body {  
    background-color: #c6d5cb !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-items a {
    text-decoration: none !important;
    color: white !important;
}

.nav-items a:hover, .redes-sociais a:hover {
    color: #c6d5cb !important;
}

header {
    background-color: #045b23;
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    border-radius: 3px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 100px;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline;
}

main {
    margin-top: 10px;
    padding: 10px;
}
#cardapio h2 {
    padding: 0 15px;
    color: #000000;
}

.card {
    max-width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
}

button.btn {
    width: 100%;
    padding: 10px 0;
    font-size: 1.1em;
    margin-top: 20px;
    background-color: #045b23;
    border: none;
    color: white;
    border-radius: 5px;
}

button.btn:hover {
    background-color: #03401a;
}

.redes-sociais {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 70px;
    padding: 0 15px;
}

.redes-sociais a, .redes-sociais img {
    display: block;
}

.redes-sociais img {
    width: 27px;  
    height: 27px;
    border-radius: 50%;
    filter: invert(100%);
}

footer {
    background-color: #548560;
    padding: 10px;
    margin-top: 30px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin: 5px 0;
}

h1, footer h2 {
    color: white !important;
    margin: 10px 0;
}

h2 {
    font-size: 1.5em;
}

#contatos {
    margin-top: 10px;
}

.contatos-mapa {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.contatos-info {
    flex: 1;
}

.mapa {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-top: -40px;
    padding: 10px;
}

.mapa iframe {
    width: 500px;
    max-width: 500px;
    height: 200px;
    border: none;
    border-radius: 10px;
}
